#navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 100;
}
#navbar a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 5%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

#navbar a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: var(--white);
}

#navbar a.active {
  color: var(--white);
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: var(--color-primary);
}

.logo_n {
  position: absolute;
  left: 2rem;
  top: 1.5rem;
}

.selector {
  display: flex;
  margin-left: 20px;
}

/*********** MEDIA QUERIES (MEDIUM DEVICES ************/
@media screen and (max-width: 1024px) {
  #navbar a {
    display: none;
  }
}

/*********** MEDIA QUERIES (SMALL DEVICES ************/
@media screen and (max-width: 600px) {
  #navbar a {
    display: none;
  }
}
